@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* CSS Variablers */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", serif;
    --primary-color: #3a2620;       /* Dark Brown */
    --secondary-color: #aa9581;     /* Light Brown*/
    --highlight-colour: #416a8e;    /* Light Blue */
    --light-highlight-colour: #7a9fc2;  /* Dark Blue */ 
}

/* Global styles */
body {
    font-family: var(--primary-font);
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

.sub-heading-colour {
    color:var(--highlight-colour);
}

/* Temporary CSS to test layout*/
.container, .row {
    border: 2px, solid, black;
}

.col-12 {
    border: 2px, solid, white;
    background-color: lightgray;
}